@{
    Layout = "_Layout.cshtml";
}


<section class="container">
    <ul class="nav nav-pills box-shadow">
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Admin" asp-action="Index">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Jobs</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">All jobs</a>
                <a class="dropdown-item" asp-controller="Admin" asp-action="CreateJob">Create new job</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Applications</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">All applications</a>
                <a class="dropdown-item" href="#">Accepted applications</a>
                <a class="dropdown-item" href="#">Rejected applications</a>
            </div>
        </li>
    </ul>
    <div class="bg-light px-3 py-4">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</section>