
@{
    ViewData["Title"] = "Page not found";
}

<section class="py-4 d-flex align-items-center px-3 flex-column flex-lg-row banner bg-light">
    <div class="banner-img-container col-11 col-sm-10 px-4 col-md-8 mb-0">
        <img class="img-fluid" src="~/img/404_page_not_found_ (1).svg" alt="404 Image" />
    </div>
    <!--Banner content-->
    <div class="banner-content flex-column d-flex align-items-center">
        <h2 class="banner-heading mb-2 mb-lg-4 text-primary text-center">
            Sorry we couldn't find the page you were looking for!
        </h2>
        <a class="btn btn-sm btn-primary" asp-action="Index" asp-controller="Home">Return to homepage</a>
    </div>
    


</section>

