@model ApplyFormModel

@{
    var job = ViewBag.Job;
    ViewData["Title"] = "Apply as " + job.Title;
}


<section class="col-11 col-md-10 col-lg-8 mx-auto">
    <a href="/all-jobs/@job.JobId" class="mb-5">Back to details page</a>
    <form asp-controller="Applicant" asp-action="Apply" method="post" class="pt-2 pb-2 card px-3 px-sm-4 px-lg-6 my-4">
        <h3 class="text-primary text-center my-4">Apply as @job.Title</h3>
        <hr/>
        
        <section class="row">
            <div class="form-group col-sm-6">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </section>

        <section class="row">
            <div class="form-group col-sm-6">
                <label asp-for="EmailAddress"></label>
                <input asp-for="EmailAddress" class="form-control" type="email" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="PortfolioLink"></label>
                <input asp-for="PortfolioLink" class="form-control" />
                <span asp-validation-for="PortfolioLink" class="text-danger"></span>
            </div>
        </section>

        <section class="row">
            <div class="form-group col-sm-6">
                <label asp-for="LevelofEduction"></label>
                <select asp-for="LevelofEduction" class="form-control">
                    <option value="College">College</option>
                    <option value="HND/OND">HND/OND</option>
                    <option value="Bachelors">Bachelors</option>
                    <option value="Masters">Masters</option>
                    <option value="Ph.D">Ph.D</option>
                </select>
                <span asp-validation-for="LevelofEduction" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label for="photo">Passport Photo</label>
                <input name="photo" class="form-control-file" type="file" accept=".jpg, .png"/>
            </div>
        </section>

        <section class="row">
            <div class="form-group col-sm-6">
                <label for="resume">Resume</label>
                <input name="resume" class="form-control-file" type="file" accept=".pdf" />
            </div>
        </section>
        <div class="form-group my-3">
            <button type="submit" class="btn btn-primary btn-block">Submit Application</button>
            <p class="text-muted">
                <small>
                    By submitting this application, you are agreeing that the information supplied
                    by you is true.
                </small>
            </p>
        </div>
    </form>
        
</section>
