@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    ViewData["CardTitle"] = "Verify your credentials";
    Layout = "../_AccountLayout.cshtml";
}



<form method="post" class="w-100">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
