@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Confirm your Email";
    ViewData["CardTitle"] = "Confirm your Email";
    Layout = "../_AccountLayout.cshtml";
}

<div class="container-fluid py-3">
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p class="text-center">
            
            You're registered! <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p class="my-1 text-center">
            Please check your email to confirm your account.
        </p>
    }
}
</div>
