@model Job



@{ 
    ViewData["Title"] = "Add new job";
    Layout = "/Views/Shared/_Admin.cshtml";
}


<section class="col-10 col-sm-9 col-md-8 col-lg-6 mx-auto">
    <form asp-controller="Admin" asp-action="CreateJob" method="post">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="JobCategory"></label>
            <select asp-for="JobCategory" class="form-control">
                <option value="Engineering">Engineering</option>
                <option value="Design">Design</option>
                <option value="Product">Product</option>
                <option value="Finance">Finance</option>
                <option value="Marketing">Marketing</option>
            </select>
            <span asp-validation-for="JobCategory" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TimeUploaded"></label>
            <input asp-for="TimeUploaded" class="form-control" type="date" />
            <span asp-validation-for="TimeUploaded" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary btn-block">Save job</button>
        </div>
    </form>
</section>
