@{
    ViewData["Title"] = "WorkNation Admin";
    Layout = "/Views/Shared/_Admin.cshtml";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-sm-6 mb-3">
            <div class="card w-100">
                <div class="card-body">
                    <h4 class="text-bold">
                        Total Jobs
                    </h4>
                    <div class="d-flex justify-content-end w-100">
                        <h6>10</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-sm-6 mb-3">
            <div class="card w-100">
                <div class="card-body">
                    <h4 class="text-bold">
                        Number of Applicants
                    </h4>
                    <div class="d-flex justify-content-end">
                        <h6>10</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-sm-6 mb-3">
            <div class="card w-100">
                <div class="card-body">
                    <h4 class="text-bold">
                        Accepted Applicants
                    </h4>
                    <div class="d-flex justify-content-end">
                        <h6>10</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-sm-6 mb-3">
            <div class="card w-100">
                <div class="card-body">
                    <h4 class="text-bold">
                        Pending Applications
                    </h4>
                    <div class="d-flex justify-content-end">
                        <h6>10</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
