@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<section class="login-container justify-content-center d-flex py-5 px-2 px-md-5">
    <div class="col-12 col-sm-9 col-md-6 col-lg-5">
        <div class="card account-form-card w-100">
            <div class="card-body">
                <div class="d-flex align-items-center flex-column">
                    <div class="col-12 col-sm-10">
                        <h4 class="text-primary text-center">@ViewData["CardTitle"]</h4>
                        <hr class="d-block">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@RenderSection("Scripts", required: false)