@{
    ViewData["Title"] = "About WorkNation";
}

<section class="py-4 d-flex align-items-center justify-content-center px-3 px-md-4 px-lg-5 flex-column flex-sm-row banner bg-light mb-4">
        <!--Banner content-->
    <div class="banner-content col-sm-6 mx-auto">
        <div class="banner-img-container col-10 mb-3">
            <img class="img-fluid" src="~/img/focused-working.svg" alt="Banner Image" />
        </div>
        <h1 class="banner-heading mb-2 text-primary text-center">
            We create technology for the future
        </h1>
        <p class="banner-text mb-2 text-center">
            Join our dynamic team working to provide the best experiences for users all over the world. We admire
            creative people who are inquistive and always reading to learn new things and contribute their best to
            make the team expectional.
        </p>
        <button class="btn btn-block btn-sm btn-primary mt-2 mx-auto">Apply Now</button>
    </div>
        
</section>