@{ 
    ViewData["Title"] = "All jobs";
}

<section class="py-5 text-center jumbotron bg-primary w-100">
    <h1 class="text-white">All Jobs</h1>
    <hr class="border-light w-50"/>
    <p class="text-white">Latest jobs at WorkNation</p>
</section>

<section class="jobs-list">
    <table class="job-table table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job Role</th>
                <th scope="col">Job category</th>
                <th scope="col">Deadline</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Front-end web developer</td>
                <td>Engineering</td>
                <td>24/11/2020</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>UI/UX designer</td>
                <td>Design</td>
                <td>24/11/2020</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Content developer</td>
                <td>Product</td>
                <td>24/11/2020</td>
            </tr>
        </tbody>
    </table>

</section>